<div class="well">
    <p>
        Sizes are rounded up to the nearest pixel<br>
        All sizes are in px
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 20%"></td>
                <th style="width: 16%">MDPI (non-retina)<br>1x</td>
                <th style="width: 16%">HDPI<br>1.5x</td>
                <th style="width: 16%">XHDPI (retina)<br>2x</td>
                <th style="width: 16%">XXHDPI<br>3x</td>
                <th style="width: 16%">XXXHDPI<br>4x</td>
            </tr>
        </thead>
        <tbody style="font-size: 20px; color: #00a0c6">
            <tr>
                <td>Width</td>
                <td>{{input type="text" id="width-mdpi" value=widthMdpi}}</td>
                <td>{{ hdpi widthMdpi}}</td>
                <td>{{xhdpi widthMdpi}}</td>
                <td>{{xxhdpi widthMdpi}}</td>
                <td>{{xxxhdpi widthMdpi}}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{input type="text" id="height-mdpi" value=heightMdpi}}</td>
                <td>{{hdpi heightMdpi}}</td>
                <td>{{xhdpi heightMdpi}}</td>
                <td>{{xxhdpi heightMdpi}}</td>
                <td>{{xxxhdpi heightMdpi}}</td>
            </tr>
        </tbody>
    </table>

</div>
